body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: whitesmoke;
    color: lightslategray;
}
main{
    margin: auto;
    max-width: 400px;
}
p{
    margin: 0;
}
.logo{
    width: 100px;
    margin-bottom: 10px;
}

.f-w600{
    font-weight: 600;
}
.border{
    border: 1px solid gray;
    margin: 30px 0px;
    min-height: 600px;
}
.b-color-white{
    background-color: white;
    padding: 10px 30px;
}
.flex-center{
    display: flex;
    justify-content: center;
}
.align-center{
    align-items: center;
}

.flex{
    display: flex;
    justify-content: space-around;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}
.flex-start{
    display: flex;
    justify-content: flex-start;
}

.flex-column{
    flex-direction: column;
}

.center{
    text-align: center;
}

.company-icons{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.f-label{
    text-align: left;
    margin-bottom: 8px;
}
.input-margin{
    margin-bottom: 8px;
    height: 30px;
}

p.f-label{
    font-size: 12px;
}
.h-smaller{
    font-size: 13px;
}
.italic{
    font-style: italic;
}

a{
    text-decoration: none;
}

form input{
    border-radius: 5px;
}

header button{
    border-radius: 5px;
    background-color: #0077C5;
    height: 30px;
    width: 100px;
    margin-left: 10px;
    color: white;
}

form button{
    background-color: #0077C5;
    height: 50px;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}

footer button{
    background-color: #6B6C72;
    border-radius: 5px;
    height: 50px;
    color: white;
}

footer a{
    color: black;
}
