main{
    margin: auto;
    max-width: 400px;
}

.flex-center{
    display: flex;
    justify-content: center;
}
.align-center{
    align-items: center;
}

.flex{
    display: flex;
    justify-content: space-around;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}

.flex-column{
    flex-direction: column;
}

.center{
    text-align: center;
}

.company-icons{
    width: 30px;
    height: 30px;
}